header {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 130px;
    background-color: #009688;
}

header h1 {
    padding: 50px 0;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #00786D;
    margin-bottom: 100px;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #fff;
    color: black;
    text-decoration: none;
}

.home {
    background-color: #12330b;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 570px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 570px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
